@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/*COLORS*/
:root {
  --primary-color: #caa8f5ff;
  --secondary-color: #9984d4ff;
  --accent-color-1: #592e83ff;
  --accent-color-2: #230c33ff;
  --accent-color-3: #b27c66ff;
}
/*BORDER RADIUS*/
.borderin-1 {
  border-radius: 20px;
}
.borderin-2 {
  border-radius: 15px;
}
.borderin-3 {
  border-radius: 10px;
}

/*FONT SIZES*/
.fs-1 {
  font-size: 36px;
}
.fs-2 {
  font-size: 30px;
}
.fs-3 {
  font-size: 24px;
}
.fs-4 {
  font-size: 18px;
}
.fs-5 {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.df-padd {
  padding: 0px 80px;
}
