.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  border-bottom: 1px solid #ccc;
}
.navbar-right {
  display: flex;
  justify-content: right;
  align-items: center;
}
.navbar-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 5px;
}
